## 함수

In [6]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 커피지수 
## 데이터로 부터 4개 커피샵에 대한 정보 추출해서 저장하기

In [1]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [3]:
data_folder = '/content/mnt/MyDrive/data/소상공인시장진흥공단'

## 전국 데이터에서 4개 매장 정보 추출하기

In [ ]:
pd.read_csv(f'{file}', encoding='euc-kr')

In [123]:
from glob import glob
cafe_list = ['스타벅스', '이디야', '커피빈', '빽다방']

df = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])

for file in glob(f'{data_folder}/*.csv'):
  sample = pd.read_csv(f'{file}')
  sample_raw = sample[sample['상권업종중분류코드'].str.contains('Q12')]
  df_raw = sample_raw[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
  
  for cafe in cafe_list:
    s_raw = df_raw[df_raw['상호명'].str.contains(cafe)]
    s_raw['상호명'] = cafe
    
    df = pd.concat([df, s_raw])
    

df.reset_index(drop=True, inplace=True)

print(df.shape)
df.head()

(4542, 5)

    상호명        지점명  시도명 시군구명                   도로명주소
0  스타벅스     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
1  스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
2  스타벅스    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
3  스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
4  스타벅스    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [124]:
df.head(100)

     상호명        지점명  시도명 시군구명                   도로명주소
0   스타벅스     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
1   스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
2   스타벅스    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
3   스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
4   스타벅스    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88
..   ...        ...  ...  ...                     ...
95   이디야     춘천애막골점  강원도  춘천시     강원도 춘천시 후석로186번길 18
96   이디야        NaN  강원도  원주시     강원도 원주시 흥업면 울업1길 29
97   이디야        장학점  강원도  춘천시  강원도 춘천시 동면 춘천로449번길 30
98   이디야        퇴계점  강원도  춘천시      강원도 춘천시 퇴계로93번길 15
99   이디야       강릉역점  강원도  강릉시       강원도 강릉시 용지로 174-6

[100 rows x 5 columns]