# 데이터프레임 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

## loc 인덱서
- loc : 라벨값 기반의 2차원 인덱싱
- iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

### 1개만 있으면 행 인덱싱

In [4]:
# 시리즈
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [6]:
# 데이터프레임
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [8]:
# 위와 동일
df['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [9]:
df.loc[['x','z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [10]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [11]:
# boolean indexing
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

### 인덱싱값을 행과 열 모두 받는 경우

In [12]:
df.loc["x", "A"]

10

In [15]:
# 슬라이서 사용 가능
df.loc['y':,'B']

y    15
z    19
Name: B, dtype: int64

In [16]:
df.loc['y':,'B']

x    11
y    15
z    19
Name: B, dtype: int64

In [18]:
df.loc[df.A>10, 'A']

y    14
z    18
Name: A, dtype: int64

### iloc 인덱서
- iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다. 다른 사항은 loc 인덱서와 같다.

In [20]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [19]:
df.iloc[0][0]

10

In [21]:
df.iloc[:2,1:]

    B   C   D
x  11  12  13
y  15  16  17

In [22]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int64

### 연습 문제 4.3.1

- 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
- 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [24]:
df = pd.DataFrame(np.arange(25).reshape(5,5), 
                  index = ['a', 'b', 'c', 'd', 'e'],
                  columns = ['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [40]:
# 12 값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c    #df.x[2], df.x.c 가 프로그램시 많이 사용됨

(12, 12, 12, 12)

In [34]:
# loc
df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [39]:
#iloc
df.iloc[2,2], df.iloc[2]['x'], df.iloc[2][2]

(12, 12, 12)

In [41]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [44]:
for i in df.index:
  print(df.x[i])

2
7
12
17
22