# 스팸, 햄 구분

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving spam.csv to spam.csv

In [3]:
import pandas as pd

spam = pd.read_csv(filename, low_memory=False, encoding='ISO-8859-1')
spam.head(2)

    v1                                                 v2  ... Unnamed: 3 Unnamed: 4
0  ham  Go until jurong point, crazy.. Available only ...  ...        NaN        NaN
1  ham                      Ok lar... Joking wif u oni...  ...        NaN        NaN

[2 rows x 5 columns]

In [4]:
spam.shape

(5572, 5)

In [5]:
df = spam[['v1', 'v2']]
df.head(2)

    v1                                                 v2
0  ham  Go until jurong point, crazy.. Available only ...
1  ham                      Ok lar... Joking wif u oni...

In [6]:
df['v3'] = df.v1.apply(lambda x: 1 if x == 'spam' else 0)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     v1                                                 v2  v3
0   ham  Go until jurong point, crazy.. Available only ...   0
1   ham                      Ok lar... Joking wif u oni...   0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...   1
3   ham  U dun say so early hor... U c already then say...   0
4   ham  Nah I don't think he goes to usf, he lives aro...   0

## 텍스트 전처리

In [7]:
df.v2.nunique()

5169

In [8]:
df.drop_duplicates('v2', keep='first', inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
import re
# df['v2'] = df.v2.str.replace('[^A-Za-z]', ' ')
df['v2'] = df.v2.apply(lambda x: re.sub('[^A-Za-z]', ' ', x.lower()))

df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     v1                                                 v2  v3
0   ham  go until jurong point  crazy   available only ...   0
1   ham                      ok lar    joking wif u oni      0
2  spam  free entry in   a wkly comp to win fa cup fina...   1
3   ham  u dun say so early hor    u c already then say      0
4   ham  nah i don t think he goes to usf  he lives aro...   0

In [10]:
df.shape

(5169, 3)

In [11]:
df.isnull().sum()

v1    0
v2    0
v3    0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.v2, df.v3, test_size=0.2,
    stratify = df.v3, random_state=2021
)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4135,), (1034,), (4135,), (1034,))

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
cvect1 = CountVectorizer(stop_words='english')
cvect1.fit(X_train)
X_train_cv1 = cvect1.transform(X_train)
X_test_cv1 = cvect1.transform(X_test)
X_train_cv1.shape, X_test_cv1.shape

((4135, 6521), (1034, 6521))

In [15]:
cvect2 = CountVectorizer(stop_words='english', ngram_range=(1,2))
cvect2.fit(X_train)
X_train_cv2 = cvect2.transform(X_train)
X_test_cv2 = cvect2.transform(X_test)
X_train_cv2.shape, X_test_cv2.shape

((4135, 28868), (1034, 28868))

In [16]:
tvect1 = TfidfVectorizer(stop_words='english')
tvect1.fit(X_train)
X_train_tv1 = tvect1.transform(X_train)
X_test_tv1 = tvect1.transform(X_test)
X_train_tv1.shape, X_test_tv1.shape

((4135, 6521), (1034, 6521))

In [17]:
tvect2 = TfidfVectorizer(stop_words='english', ngram_range=(1,2))
tvect2.fit(X_train)
X_train_tv2 = tvect2.transform(X_train)
X_test_tv2 = tvect2.transform(X_test)
X_train_tv2.shape, X_test_tv2.shape

((4135, 28868), (1034, 28868))

## 로지스틱 회귀

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
lr1 = LogisticRegression(max_iter=500)
%time lr1.fit(X_train_cv1, y_train)

CPU times: user 63.2 ms, sys: 2.03 ms, total: 65.3 ms
Wall time: 66.1 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
lr2 = LogisticRegression(max_iter=500)
%time lr2.fit(X_train_cv2, y_train)

CPU times: user 272 ms, sys: 321 ms, total: 593 ms
Wall time: 358 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
lr3 = LogisticRegression(max_iter=500)
%time lr3.fit(X_train_tv1, y_train)

CPU times: user 72.6 ms, sys: 71.7 ms, total: 144 ms
Wall time: 101 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
lr4 = LogisticRegression(max_iter=500)
%time lr4.fit(X_train_tv2, y_train)

CPU times: user 141 ms, sys: 102 ms, total: 243 ms
Wall time: 147 ms

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
# 테스트 데이터에 대해 예측  - 테스트 데이터의 X만 필요
pred1 = lr1.predict(X_test_cv1)

In [24]:
pred2 = lr2.predict(X_test_cv2)
pred3 = lr3.predict(X_test_tv1)
pred4 = lr4.predict(X_test_tv2)

## 평가

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
score1 = accuracy_score(y_test, pred1)
score1

0.9835589941972921

In [27]:
score2 = accuracy_score(y_test, pred2)
score3 = accuracy_score(y_test, pred3)
score4 = accuracy_score(y_test, pred4)
score2, score3, score4

(0.9796905222437138, 0.9593810444874274, 0.9526112185686654)